<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Flug verwalten</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeFlightModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="renameFlight(flightname)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Neuer Flugname:</span>
          <input type="text" ng-model="flightname">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Aktuellen Flug umbenennen</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
